/* colors
DARK PRIMARY COLOR  #00796B
LIGHT PRIMARY COLOR  #B2DFDB
PRIMARY COLOR   #009688
TEXT / ICONS   #FFFFFF
ACCENT COLOR   #FF9800
PRIMARY TEXT   #212121
SECONDARY TEXT  #757575
DIVIDER COLOR   #BDBDBD
*/


body{
    margin: 0;
    background-color: #B2DFDB;
    color: #212121
}

.center{
    text-align: center;
}

.space-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

nav{
    background-color: #00796B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
}

.list-group-container{
    display:none
}

.home h3{
    margin-bottom: 30px;
}



.home-bottom{
    display: flex;
    justify-content: flex-end;
    height: 50vh;
    padding: 10vh;
    /* margin-right: 30px; */
}

.btn-add{
    display: flex;
    align-items: flex-end;
}

.btn-add img{
    width: 50px;
}